<!doctype html>
<html>
    <head>
        <title>:: test</title>
        <link rel="stylesheet" href="/static/css/style.css" type="text/css" />
    </head>
    <body>
        <h1>Welcome ejs template</h1>
    </body>
</html>